<div id='ProfilePagestyle'>
<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"><%= image_tag @user.avatar.url(:thumb) %></div>
        <div id="ProfileOptions">
        <%=@user.username%>
        </div>
    </div>

    <div id="Info">
        <p> 
            <strong>User Name:</strong>
          <span> <%=@user.username %> </span>
        </p>
     

        <p>
            <strong>First Name:</strong>
            <span> <%= @user.firstname %> </span>
        </p>
        <p>
            <strong>Last Name:</strong>
            <span> <%=@user.lastname %></span>
        </p>
        <p>
            <strong>Email:</strong>
            <span> <%=@user.email%> </span>
        </p>
        <p>
            <strong>Gender:</strong>
            <span> <%=@user.gender %> </span>
        </p>

        <p>
            <strong> Post History: </strong>
            <span id="infobox"><a href='/posts/<%= @user.id%>'><%=@user.posts.count %></a></span>
        </p>

        <p>
            <strong> Comment History: </strong>
            <span id="infobox"><a href="/comments/user/<%=@user.id%>"><%=@user.comments.count %></a></span>
        </p>
    </div>

<button  onclick="location.href='/users/edit'" class="button">Change Password</button>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>

</div>

