<h2>Update</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true %><br />
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %><br />
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %><br />
    <%= f.label :dob %><br />
    <%= f.text_field :dob, autofocus: true %><br />
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true %><br />
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>